<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}RFM-анализатор</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap"
      rel="stylesheet"
    />

    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'base.css' %}"
    />

    {% block css %}{% endblock %}
    {% block script %}{% endblock %}
  </head>
  <body>
    <div class="container">
      <h1 class="header"><a class="logo" href="#">🪲</a>&nbsp;{% block header %}{% endblock %}</h1>
      <div class="content">{% block content %}{% endblock %}</div>
    </div>
  </body>
</html>
